extends layout

block content
  .wrapper
    include common/_header
    //- h1= title
    //- p Welcome to #{title}
    //- input#ll(type="text")
    //- a#search_vehues(href="#") Searchsdf
    //- ul#list
    #mymap

