doctype html
html(lang='ru-RU')
  head
    meta(charset='utf-8')
    title= 'all4Sq - Checking where you want' 
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='Dmitriy Shved' name='author')
    meta(content='all4Sq - Checking where you want' name='description')
    meta(content='' name='keywords')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='ie=edge' http-equiv='x-ua-compatible')
    link(rel='stylesheet', href='/css/style.css')
    script(src='https://maps.googleapis.com/maps/api/js?sensor=false&extension=.js')
    script(src="/js/jquery.min.js" defer)
    script(src="/js/main.js" defer)
  body
    block content
