extends layout

block content
  .wrapper
    .container.welcome
      a.logo(href="/")
        img(src="/img/logo.png", alt="all4Sq")
      .description Checking where you want
      a.auth_btn(href="/auth") Connect to Foursquare
