* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  min-width: 320px;
}

.container {
  min-width: 320px;
  margin: 0 auto;
}

@import 'common/variables';
@import 'mixin/media';
@import 'common/header';
@import 'common/welcome';
@import 'common/map';
@import 'common/venues';
