* {
  box-sizing: border-box;
}
html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.wrapper {
  height: 100%;
}
.container {
  height: 100%;
}



@import 'common/variables';
@import 'mixin/media';
@import 'common/header';
@import 'common/welcome';
@import 'common/map';
@import 'common/venues';
